.content {
  max-width: 500px;
  margin: auto;
}

h1 {
  color: red;
  background-color: green;
  border: 3px solid yellow;

}

p{
  color: blue;
  background-color: orange;
}

a{
  color: black;
}

body{
  padding: 1em;
  margin: 0;
}
